@model IEnumerable<StudentRanking.Models.StudentPreferences>
@{
    ViewBag.Title = "StudentPreferences";
    var res = ViewData["result"] as List<StudentRanking.Models.StudentPreferences>;
    bool isAddingPreferencesEnd = (bool)ViewData["isAddingPreferencesEnd"];
}

<style>
    table, th, td {
        border: 0px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>

@section Scripts
{
    <script type="text/javascript" src="~/JavaScript/StudentPreferences.js">
    </script>
}

<h2>@ViewData["userName"]</h2>

@if (!isAddingPreferencesEnd)
{
    <h2>Подаване на желания</h2>
    <div><h4>Изберете факултет</h4></div>
    
    @Html.DropDownList("faculty", ViewData["faculties"] as SelectList, new { @id = "faculty" })
    <select id="programmeName"></select>
    <input type="submit" value="Потвърдете" onclick="javascript:ChooseProgramme()" />
    <input type="submit" value="Изтрийте последното си желание" onclick="javascript:DeleteLastPreference()" />
}

<div id="resultTable">
    @Html.Partial("_StudentPreferencesTable", Model)
</div>