@model IEnumerable<StudentRanking.Models.Exam>

@section Scripts
{
    <script type="text/javascript">

        function SubmitClick() {
            $.ajax({
                type: 'POST',
                url: "/Exam/Index",
                data: {
                    egn: $("#egn").val()
                },
                success: function (data) {
                    $('#resultTable').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }

            });


        };

    </script>
}

<style>
    table, th, td {
        border: 0px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Добавяне на оценка", "Create")
</p>

<label>Въведете ЕГН-то на студента</label>
@Html.TextBox("egn")
<input type="submit" value="Потвърди" onclick="javascript:SubmitClick()" />

<div id="resultTable">
    @Html.Partial("_StudentExamsGrades", Model)
</div>